.DS_Store
__pycache__
.ipynb_checkpoints/
*.swp
mmar/results
results
MotionArtifactRemoval.egg-info/
dist/
log_*.txt
.vscode
*.pyc
mmar_release_*
*.zip
*.pdf
*.docx
env_*
build
MotionArtifactRemoval/.pylintrc
mmar_config_last.txt
data/

